# Install with:
#   sudo install -m 644 softicar-github-runner-composed.service /etc/systemd/system/
#   sudo systemctl daemon-reload
#   sudo systemctl enable softicar-github-runner-composed
# 
# TODO add a simple installer for this service, and update README.me accordingly

[Unit]
Description=SoftiCAR GitHub Runner Composed
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
User=softicar
ExecStart=/home/softicar/com.softicar.github.runner/softicar-github-runner-composed.sh

[Install]
WantedBy=multi-user.target
